global
    maxconn 256
defaults
    mode tcp
    timeout connect 3s
    timeout client 120s
    timeout server 120s
    timeout check 1s
frontend vector_tls
    bind :6333
    default_backend peers
resolvers docker_dns
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 5s
backend peers
    balance roundrobin
    option tcp-check
    server peer1 qdrant-1:6333 check check-ssl verify required verifyhost qdrant-1 ca-file /run/secrets/vector_ca inter 1s fall 2 rise 2 resolvers docker_dns resolve-prefer ipv4 init-addr libc,none
    server peer2 qdrant-2:6333 check check-ssl verify required verifyhost qdrant-2 ca-file /run/secrets/vector_ca inter 1s fall 2 rise 2 resolvers docker_dns resolve-prefer ipv4 init-addr libc,none
    server peer3 qdrant-3:6333 check check-ssl verify required verifyhost qdrant-3 ca-file /run/secrets/vector_ca inter 1s fall 2 rise 2 resolvers docker_dns resolve-prefer ipv4 init-addr libc,none
